@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

p {
    font-family: 'Montserrat';
    margin: 0;
    font-size: 12px;
}

.bold-text {
    font-weight: 600;
}

.regular-text {
    font-weight: 400;
}